.gophers {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.gopher {
    display: flex;
    border-radius: 2px;
    background-color: #2c165c;
    color: $white;
    max-width: 400px;
    flex: 1;
    min-width: 300px;
    height: 200px;
    overflow: hidden;
    box-shadow: 0px 0px 10px $shadow;

    .leftSide {
        width: 100px;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px;

        .companySide {
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 2px;
            color: rgba(255, 255, 255, 0.5);
            font-size: 14px;
            font-weight: 500;
            display: inline;
            padding: 3px 5px;
            text-align: center;
            word-break: break-all;
        }
        .avatar {
            border-radius: 2px;
            background-color: $white;
            width: 80px; height: 80px;
        }

        .jobStatusSide {
            font-size: 14px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .rightSide {
        flex: 1;
        color: $black;
        background-color: rgba(255, 255, 255, 0.2);
        height: 100%;
        padding: 15px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .topSide {
            flex: 1;

            .name {
                font-size: 18px;
                font-weight: 700;
                color: rgba(255, 255, 255, 0.7);
                margin-bottom: 10px;
            }
            .description {
                font-size: 14px;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.7);
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4; /* number of lines to show */
                -webkit-box-orient: vertical;

                .socialLinks {
                    color: #474747;
                    height: 100%;
                    margin-top: 10px;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    
                    a{
                        display: block;
                        text-decoration: none;
                        width: 24px; height: 24px;
                    }
                    
                }
            }
        }
    }
    &[cardType="looking"]{
        background-color: rgb(15, 97, 15);
    }
    &[cardType="hiring"] {
        background-color: #c86b00;
    }
}
.gopher {
    display: flex;
    border-radius: 2px;
    background-color: #2c165c;
    color: $white;
    max-width: 400px;
    flex: 1;
    min-width: 300px;
    height: 200px;
    overflow: hidden;
    box-shadow: 0px 0px 10px $shadow;

    .leftSide {
        width: 100px;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px;

        .companySide {
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 2px;
            color: rgba(255, 255, 255, 0.5);
            font-size: 14px;
            font-weight: 500;
            display: inline;
            padding: 3px 5px;
            text-align: center;
            word-break: break-all;
        }
        .avatar {
            border-radius: 2px;
            background-color: $white;
            width: 80px; height: 80px;
            background-size: 80px 80px;
            background-repeat: no-repeat;
            background-position: center;

        }

        .jobStatusSide {
            font-size: 14px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .rightSide {
        flex: 1;
        color: $black;
        background-color: rgba(255, 255, 255, 0.2);
        height: 100%;
        padding: 15px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .topSide {
            flex: 1;

            .name {
                font-size: 18px;
                font-weight: 700;
                color: rgba(255, 255, 255, 0.7);
                margin-bottom: 10px;
            }
            .description {
                font-size: 14px;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.7);
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4; /* number of lines to show */
                -webkit-box-orient: vertical;

                .socialLinks {
                    color: #474747;
                    height: 100%;
                    margin-top: 10px;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    
                    a{
                        display: block;
                        text-decoration: none;
                        width: 24px; height: 24px;
                    }
                    
                }
            }
        }
    }
    &[cardType="looking"]{
        background-color: rgb(15, 97, 15);
    }
    &[cardType="hiring"] {
        background-color: #c86b00;
    }
}